/* styles the background and body */
body{
    /* Choose grey due to its great modern style */
    background-color: grey;
    margin: auto;
    padding: 0;

}
/* Styles the h1 there can only be 1 h1 */
h1{
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 900;
}
/* Styles my paragraph */
p{
    /* Sets the font style to large and a bit on the formal side on the font weight the higher the numb the darker 
    or bolder it is */
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 200;
}
/* Styles my text area, the user will type their goals */
textarea{
    font-size: x-large;
    background-color: black;
    color: aliceblue;
    border-radius: 9px;
    font-style: italic;
    /* I learned in W3Schools that the resize property prevents textarea from being changed */
    resize: none;
}
/* Style the font inside the box, the user types in goals */
label{
    font-size: 29px;
    color: black;

}
/* Styles my calendar to a much bigger size, aswell as the font size and font family */
input{
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}