/* Let's use CSS to style the body tag of any HTML page that uses it */
body{
    /* Set the color of the background to grey */
    background-color: grey;
    /* Change the font color to aqua */
    color: black;
}


nav{
    /* Set the height of the nav property */
    height: 500px;
    /* Set width to 200px */
    width: 200px;
    /* Sets the padding to 5px */
    padding: 5px;
}

/* Style the footer */
footer{
    /* Alligns the text to center */
    text-align: center;
    /* Sets the border of the footer to 1 px */
    border-radius: 25px;
    /* Sets the margin */
    margin: 25px 50px 75px 100px;
    /* Sets the background color of the footer to dark grey  */
    background-color: dimgrey;
    /* Sets the padding */
    padding: 20px;
}


/* Paragraph Style */
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: larger;
}

/* Style the h1 */
h1{
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
}

/* Style the h2 */
h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}